@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300');
@import url('https://fonts.googleapis.com/css?family=Signika:300');

.project{
    text-align: center;
    font-family: 'Signika', sans-serif;
    overflow: hidden;
    background: #e74c3c;
    color: #ebebeb;
    
    flex-direction: column;
    display: grid;
    grid-template-columns: 10% 50% 30% 10%;
    grid-template-areas: 
    "... title title ..."
    "... image image..."
    "...test feature..."
    "...test url ..."
    "...test  video ..."
    
    

    
}
#project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    padding: 50px 0px 50px 0px;
    margin: auto;
    color: white;
    grid-area: title;

}

.portfolio-image{
    margin: auto;
    grid-area: image;
       
}

.portfolio-image img{
    height: auto;
    width: 100%;
}

.big-arrow{
    cursor: pointer;
    margin-left: 70px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
    border-left: 15px solid rgb(255, 255, 255);
  }
  .left-big-arrow{
      cursor: pointer;
    margin-right: 70px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
    border-right: 15px solid rgb(255, 255, 255);
  }



.about-project{
    font-size: 1.25em;
    text-align: left;
    line-height: 1.5em;
    grid-area: test;
}
p{
    padding: 10px;
}


.feature-wrapper{
    width: 100%;
    grid-area: feature;

}
.feature-title{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003b;

}

.tech-list{
    background: #00000023;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 10%;

}
li{
    margin: 10px 0px;
}
.url-wrapper{
    display: flex;
    align-items: baseline; 
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    grid-area: url
}
.url{
    display: flex;
    align-items: center;
    background: #0000003b;
    height: 30px;
    width: 10%;
    padding: 10px;
}
.ink{
    display: flex;
    text-decoration: none;
    padding: 10px;
    background: #00000023;
    height: 30px;
    align-items: center;
    width: 99vw

}
a:link{
    color: white;

}
.video-wrapper{
    display: flex;
    align-items: baseline; 
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    grid-area: video;
}

a:visited {color: rgb(255, 255, 255);}

@media screen and (max-width: 750px) {
    .project{
        grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "... title..."
    "... url ..."
    "... image ..."
    "... video ..."
    "...test  ..."
    "...test  ..."
    "...feature ... "
    }
    #project-title{
        font-size: 2.5em
    }

}

@media screen and (max-width: 550px) {
    .project{
        grid-template-columns: 100%;
    grid-template-areas: 
    " title"
    " url "
    " image "
    " video "
    "test  "
    "test  "
    "feature  "
    }
    #project-title{
        font-size: 2.5em
    }
    .left-big-arrow{
        margin-right: 2px;
    }

}